/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


// Customise  album artwork and text to taste

.album {
  width: 50%;
  -webkit-text-size-adjust: none;
  color: black;
}
.album .back p {
	margin: 0 0 2px;
	font-weight: 200;
}

@media screen and (min-width: 100px) {
	.albumName, .albumArtist {
		font-size: 11px;
	}

	.albumTrackPlayCount {
		font-size: 10px;
	}
}

@media screen and (min-width: 800px) {
	.albumName, .albumArtist {
		font-size: 16px;
	}

	.albumTrackPlayCount {
		font-size: 14px;
	}
}

@media screen and (min-width: 400px) {
  .album {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .album {
    width: 33%;
  }
}
@media screen and (min-width: 800px) {
  .album {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .album {
    width: 20%;
  }
}

h3 .btn-group { display: inline-block; }


.lastfmlink {
	margin-top: 35px;
}

.albumModal  a:hover {
    cursor: pointer;
	text-decoration: underline;
	text-underline-style: dashed;
}

.dropdown-menu  a:hover {
    cursor: pointer;
	text-decoration: underline;
	text-underline-style: dashed;
}

td.text-center {
	text-align: center;
}

.spinner {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%; /* Rounds out the halo */
    opacity: .7; /* Some subtle opacity to help blend with variable background colors */
	margin-left: auto;
	margin-right: auto;
}

.spinner.medium {
    height: 30px; width: 30px;
    background: url("../images/spiffygif_30x30.gif");
}

/* To suit the styling of the page within which this last fm page is an iframe */
.hero-unit h1, .hero-unit h2, .short_headline, .call-to-action h3, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", Sans-Serif;
	color: #758694;
	font-weight: normal;
	margin-top: 2%;
	margin-bottom: 2%;
}

.row {
    margin-left: 15px;
    margin-right: 15px;
}

.btn-group, .btn-group-vertical {
	padding-top: 10px;
    padding-bottom: 15px;
}
