<div class="row">
  <h3>most played albums</h3>

  <div ng-if="dataRetrievalError"><p class="text-error">Sorry - there was a problem getting the top album data from Last.fm</p></div>
  <div ng-if="editConstantsError"><p class="text-error">Please edit app.js with your own Last.fm API details before using the application</p></div>
  
  <div ng-show="isLoading"class="spinner medium"></div>
  
  <div ng-repeat="album in albums" class="album" ng-class="{flip: hover}" 
    ng-mouseenter="hover = true" ng-mouseleave="hover = false">
		<div class="front">
			<img ng-src="{{album.image[album.image.length-1]['#text']}}">
			<div class="alpha"></div>
		</div>
		<div class="back">
			<p class="albumName">{{album.name}}</p>
			<p>by</p>
			<p class="albumArtist">{{album.artist.name}}.</p>
			<p class="albumTrackPlayCount">{{album.playcount}} tracks played</p>
		</div>
	</div>
</div> 

<div class="row" ng-include="'views/lastfm-attribution.html'"></div>
